<% set_meta_tags og:{ title: "#{@user.name}さんが行きたいお店"} %>
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
   <h1 class="title"><%= @user.name %>さんが行きたいお店</h1>
    
    <%= render partial: 'wants/wants_list' %>
</diV>