<div class="max-w-7xl mx-auto px-2">
    <h1 class="title">ユーザー登録</h1>
    <div class="flex justify-center">
        <div class="flex-initial">
            <%= link_to 'Sign in with Google', "/auth/google_oauth2",class: " text-center rounded bg-red-600 hover:bg-red-400 text-gray-50 p-2"%>
        </div>
    </div>
</div>