<div class="max-w-7xl mx-auto">
    <h1 class="title">ユーザー登録</h1>
    <% if flash[:notice] %>
        <div class="border border-red-500 bg-red-100 m-5 p-3 rounded relative" role="alert">
             <p class="text-red-500"><%= flash[:notice] %></p>
        </div>
    <% end %>
    <%=render partial: 'form', locals:{ user: @user } %>
</div>