<div class="text-right"> 
    <% if eatery_url.nil? %>
        <p class=" p-3 text-sm text-gray-400 hover:text-red-300">
            ユーザ投稿データ
        </a>
        <% else %>
            <a class=" p-3 text-sm text-gray-400 hover:text-red-300 " href="<%= eatery_url%>">
                データ提供元(ぐるなび)へ
            </a>
        <% end %>
 </div>