<% if eatery_url.nil? %>
    <p class="text-xm text-gray-400 hover:text-red-300 text-sm">
        ユーザ投稿データ
    </p>
<% else %>
    <a class="text-xm text-gray-400 hover:text-red-300 text-sm" href="<%= eatery_url%>">
        ぐるなびへ
    </a>
<% end %>