<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <%= render partial: 'shared/search_box' %>
    <h1 class="my-5 text-xl font-black text-red-600">検索結果　<%= @category_name%></h1>
    <%= render partial: 'eateries_list', locals:{ eateries: @eateries } %>
</div>