<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <h1 class="my-5 text-xl font-black text-red-600">特集(未実装)</h1>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-96">
          <img class="rounded" src="/assets/momo2020.jpg">
         </div>
    </div>
    <h1 class="my-5 text-xl font-black text-red-600">新着</h1>
    <%= render partial: 'eateries_list', locals:{ eateries: @eateries } %>
    <%= paginate @eateries %>
</div>