<% set_meta_tags og: {image: image_url('/assets/ogp.jpg')} %>
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <% if params[:page].blank? %>
        <h1 class="my-5 text-xl font-black text-red-600">お知らせ</h1>
        <ul>
            <li>2020/1/1 マイページからレビューを確認できるようになりました</li>
            <li>2020/1/1 トップページに最近追加されたお店を表示するようにしました</li>
            <li>2020/1/1 レビューの削除機能を追加しました</li>
        </ul>
    <% end %>
    <h1 class="my-5 text-xl font-black text-red-600">新着</h1>
    <%= render partial: 'eateries_list', locals:{ eateries: @eateries } %>
    <%= paginate @eateries %>
</div>