<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <h1 class="my-5 text-xl font-black text-red-600">検索結果　<%= @query%></h1>
     <%if @eateries.blank? %>
        <div class="px-6 py-4 max-w-full rounded overflow-hidden shadow-lg flex-grow text-center bg-gray-50" >
            <h2>検索しましたが見つかりませんでした</h2>
        </div>
    <% else %>
        <%= render partial: 'eateries_list', locals:{ eateries: @eateries } %>
        <%= paginate @eateries %>
    <% end %>
</div>