<div id="mobile-menu__items" class="hidden md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <%= link_to '新着', '/eateries/recent', class: "mobile-navbar-item" %>
        <%= link_to '教える', '/eateries/find', class: "mobile-navbar-item" %>
    </div>
</div>