<div id="mobile-menu__items" class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="#" class="mobile-navbar-item">新着</a>
        <a href="#" class="mobile-navbar-item">探す</a>
        <a href="#" class="mobile-navbar-item">教える</a>
    </div>
</div>