<div id="mobile-menu__items" class="hidden md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <%= link_to '一覧', '/eateries/all', class: "mobile-navbar-item" %>
        <%= link_to 'お店を登録する', '/eateries/new', class: "mobile-navbar-item" %>
    </div>
</div>