<div class="hidden md:block md:ml-6">
    <div class="flex space-x-4">
        <%= link_to '新着', '/eateries/recent', class: "navbar-item" %>
        <%= link_to '教える', new_eatery_path, class: "navbar-item" %>
    </div>
</div>