<div class="hidden sm:block sm:ml-6">
    <div class="flex space-x-4">
        <a href="#" class="navbar-item">新着</a>
        <a href="#" class="navbar-item">探す</a>
        <a href="#" class="navbar-item">教える</a>
    </div>
</div>