<div class="hidden sm:block sm:ml-6">
    <div class="flex space-x-4">
        <%= link_to '新着', '/eateries', class: "navbar-item" %>
        <a href="#" class="navbar-item">探す</a>
        <%= link_to '教える', '/eateries/new', class: "navbar-item" %>
    </div>
</div>