<div id = "user-menu" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
    <% if @current_user %>
        <%= link_to 'マイページ', mypage_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
        <%= link_to 'サインアウト', logout_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
    <% else %>
        <%= link_to '新規登録', signup_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
        <%= link_to 'ログイン', login_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
    <% end %>
</div>